
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype'); /* IE9*/
 
}

header{
	display: block;
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geren:before { content: "\e601"; }

